.login-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    padding: 60px 68px 40px;
    text-align: center;
    max-width: 450px;
}

.form_logo {
    display: none;
}

.login-form input {
    height: 50px;
    border-radius: 8px;
    margin-bottom: 20px;
}

input {
    background-color : #333;
    color: #F1F1F1;
    font-weight: 500;
}


.form-btn {
    background-color: #e50914;
    line-height: normal;
    padding:17px;
    font-weight: 700;
    font-size: 1rem;
    color: #F1F1F1;
    border-radius: 8px;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.loader {
    width: 24px;
    height: 24px;
    border: solid #F1F1F1;
    border-width: 2px 2px 1px 0;
    border-radius: 50%;
    display: block;
    animation: circle 1s linear 1s infinite;
}

@keyframes circle {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*Response*/

/* Large: 992px - 1199px */
@media (max-width: 1199px) {

}

/* Medium: 768px - 991px */
@media (max-width: 991px) {

}

/* Small: 576px - 767px */
@media (max-width: 767px) {
    .login-form {
        max-width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .form_logo {
        display: block;
        margin-bottom: 50px;
    }
}

@media (max-width: 460px) {

}


/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {

}