body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #000;
    line-height: 1.1;
    background: rgb(24, 24, 24);
}

* {
    box-sizing: border-box;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
    font-weight: 700;
    line-height: 1em;
}

svg {
    display: block;
}

input, button {
    background-color: #333;
    padding: 16px 20px 0;
    border: none;
    outline: none;
    font-family: inherit;
}

/*img {*/
/*    max-width: 100%;*/
/*    object-fit: cover;*/
/*}*/

button {
    cursor: pointer;
}

p {
    margin: 0;
    padding: 0;
}

a {
    color: #F1F1F1;
    text-decoration: none;
    transition: all 0.5s ease;
}

.global-btn {
    background-color: #FFA842;
    font-size: 24px;
    width: 353px;
    padding: 16px 0;
    color: #000000;
    text-align: center;
    border-radius: 70px;
}

.global-btn a {
    color: #000000;
}

/*Response*/

/*!* Large: 992px - 1199px *!*/
/*@media (max-width: 1199px) {*/
/*    .n-container {*/
/*        max-width: 960px;*/
/*    }*/
/*}*/

/*!* Medium: 768px - 991px *!*/
/*@media (max-width: 991px) {*/
/*    .n-container {*/
/*        max-width: 720px;*/
/*    }*/
/*}*/

/*!* Small: 576px - 767px *!*/
/*@media (max-width: 767px) {*/
/*    .n-container {*/
/*        max-width: 540px;*/
/*    }*/
/*}*/

/*@media (max-width: 460px) {*/
/*    .n-container {*/
/*        max-width: 100%;*/
/*        padding: 0 15px;*/
/*    }*/
/*}*/


/*!* Extra small: 0px (320px) - 575px *!*/
/*@media (max-width: 575px) {*/
/*    .n-container {*/
/*        max-width: 100%;*/
/*        padding: 0 15px;*/
/*    }*/
/*}*/